.categoryBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 10px 0 0 0;
  width: 100%;
}

.categoryTag {
  width: calc(100% / 4);
  padding: 10px 10px;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.categoryTag:hover {
  opacity: 0.8;
}

.categoryTag:active {
  opacity: 1;
}

.categoryTag_blue {
  background-color: #4285f4;
  color: #fff;
}

.categoryTag_red {
  background-color: #ea4335;
  color: #fff;
}

.categoryTag_yellow {
  background-color: #fbbc05;
  color: #fff;
}

.categoryTag_green {
  background-color: #34a853;
  color: #fff;
}

.span {
  font-size: 1rem;
}

@media (max-width: 700px) {
  .categoryTag {
    border-radius: 10px 10px 0 0;
  }

  .span {
    font-size: 0.6rem;
  }
}
