.blue {
  background-color: #4285F4;
  padding: 10px;
}

.red {
  background-color: #EA4335;
  padding: 10px;
}

.yellow {
  background-color: #FBBC05;
  padding: 10px;
}

.green {
  background-color: #34A853;
  padding: 10px;
}