.back {
  border-radius: 0 0 10px 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.blue {
  background-color: #4285F4;
}

.red {
  background-color: #EA4335;
}

.yellow {
  background-color: #FBBC05;;
}

.green {
  background-color: #34A853;
}

.loadingBack {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}