.back {
  border-radius: 0 0 10px 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.back p {
  font-size: 10px;
  color: #fff;
  margin: 0 0 0 10px;
}

.blue {
  background-color: #4285f4;
}

.red {
  background-color: #ea4335;
}

.yellow {
  background-color: #fbbc05;
}

.green {
  background-color: #34a853;
}

.loadingBack {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .back {
    padding: 5px;
    margin-bottom: 10px;
  }

  .back p {
    font-size: 8px;
    margin: 0 0 0 5px;
  }
  
}