.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000;
  margin: 0;
  padding: 1rem;
}

.div {
  text-align: center;
  color: #fff;
}

.image {
  position: absolute;
  right: 1rem;
  top: 0.75rem;
}
